# .env for Windows host + Docker Compose run inside WSL
APPS_ROOT=/data/dev-helper/projects/apps
DATA_ROOT=/data/dev-helper/projects/data
NGINX_CONF_ROOT=/data/dev-helper/projects/containers/nginx/conf.d
NGINX_EXTERNAL_ROOT=/data/dev-helper/projects/containers/nginx/external
MYSQL_ROOT_PASSWORD=change-me
POSTGRES_SUPER_PASSWORD=change-me
