# .env for Linux
APPS_ROOT=./apps
DATA_ROOT=./data
NGINX_CONF_ROOT=./containers/nginx/conf.d
NGINX_EXTERNAL_ROOT=./containers/nginx/external
MYSQL_ROOT_PASSWORD=change-me
POSTGRES_SUPER_PASSWORD=change-me
