# .env for macOS (Intel/Apple Silicon)
APPS_ROOT=./apps
DATA_ROOT=./data
NGINX_CONF_ROOT=./containers/nginx/conf.d
NGINX_EXTERNAL_ROOT=./containers/nginx/external
MYSQL_ROOT_PASSWORD=Passw0rd
POSTGRES_SUPER_PASSWORD=Passw0rd
